// Place all the styles related to the public::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top strong, .top h3, .top h4, .top p, .top h5, .top h2 {
	color: #fff;
}

.top h3 {
	display: inline-block;
	border-bottom: 3px solid #FF66CC;
	margin-left: 80px;
}

.top span {
	color: #FF66CC;
}

.top h4 {
	display: inline-block;
	border: 3px solid #FFFF00;
	padding: 5px;
}

.top p {
	font-size: 15px;
}

.top h5 {
	font-size: 20px;
	margin-top: 60px;
}

.blackboard_up {
	margin-top: 30px;
}

.top_arrow_h5 {
	padding-top: 5px;
}

.top h2 {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 200px;
	display: inline-block;
	border: 3px solid #FF66CC;
}

.top_category tbody, .recommend_posts tbody {
	background-color: #fff;
}

.top_category td, .recommend_posts td {
	padding: 10px;
	font-size: 15px;
	border-bottom: 1px solid #005500;
}

.recommend_posts_title {
	color: #fff;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 20px;
	padding-bottom: 20px;
}


/* 画像スライダーの設定 */
#container{
	height: 650px;
}

.image1 {
	background-image: image-url("image1.jpg");
}

.image2 {
	background-image: image-url("image2.jpg");
}

.image3 {
	background-image: image-url("image3.jpg");
}

.image4 {
	background-image: image-url("image4.jpg");
}

.image5 {
	background-image: image-url("image5.jpg");
}

.image6 {
	background-image: image-url("image6.jpg");
}
/* 画像スライダーの設定 */