// Place all the styles related to the public::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 見出しの設定 */
.new h2, .show h2, .edit h2 {
	color: #fff;
	background-color: #990000;
}

/* [投稿]タイトルの設定 */
.post_title {
	margin-bottom: 10px;
	background-color: #fff;
}

/* [投稿]めあての設定 */
.post_objective {
	margin-bottom: 10px;
	height: 80px;
	background-color: #fff;
}

/* [投稿]詳細の設定 */
.post_body {
	margin-bottom: 10px;
	height: 500px;
	background-color: #fff;
}

/* [投稿]ふりかえりの設定 */
.post_review {
	margin-bottom: 10px;
	height: 100px;
	background-color: #fff;
}

/* カテゴリー選択の設定 */
.new_category {
	margin-top: 20px;
}

/* 「投稿を編集」ボタンの設定 */
.s_post_btn > .post_btn {
	background-color: #990000;
	border-color: #000;
	color: #fff;
	margin-left: 30px;
	margin-top: 20px;
}

.s_post_btn > .post_btn:hover {
	background-color: #FAEBD7;
	border-color: #000;
	color: #990000;
}

/* [posts/show] ユーザーアイコンの設定 */
.post_show_user {
	margin_bottom: 5px;
	color: #fff;
}

.show_username {
	margin_bottom: 5px;
	color: #fff;
}

/* [posts/new & edit] attachment_fieldの設定 */
.new_attachment, .edit_attachment {
	margin-left: 110px;
	color: #fff;
}

/* [show]カテゴリーの設定 */
.post_category {
	margin-left: 10px;
	margin-top: 10px;
	background-color: #FAEBD7;
	color: #990000;
	border-color: #990000;
}

/* [show]日付の設定 */
.post_datetime {
	color: #fff;
	margin-top: 10px;
	margin-left: 40px;
}

/* [edit] 「変更を保存」ボタンの設定 */
.p_edit_btn > .edit_post_btn:hover {
	border-color: #D9E5FF;
	color: #D9E5FF;
}

/* [edit] 「削除」ボタンの設定 */
.p_edit_btn > .edit_delete_btn {
	background-color: #fff;
	border-color: #990000;
	color: #990000;
	margin-left: 10px;
}

.p_edit_btn > .edit_delete_btn:hover {
	background-color: #FAEBD7;
	border-color: #000;
	color: #990000;
}

/* [edit] カテゴリー選択の設定 */
.edit_category {
	margin-top: 20px;
	margin-bottom: 20px;
}
