// Place all the styles related to the public::timelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* おすすめの表示 */
/* 見出しの設定 */
.recommendations h3 {
	color: #fff;
	margin-left: 20px;
}

/* 一覧の設定 */
.recommendations {
	list-style: none;
	width: 100%;
	margin-top: 20px;
}

.recommendations_ {
	border-radius: 10px;
	background-color: #FFFFE0;
	margin-bottom: 5px;
	padding: 1px;
	display: flex;
}

.recommendations_ > div {
	width: 40%;
	height: 100%;
	margin: 5px;
}

.recommendations_user {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #000;
}

.recommendations_title {
	color: #000;
	width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 30px;
}

.recommendations_like {
	color: #000;
	margin-top: 30px;
}
/* おすすめの表示 */



/* 未読マーク */
.unread {
    float: right;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    background-color: #FFCCFF;
}
