<div class="comment_edit">
	<div class="row">
		<h2 class="text-center">Comment Edit</h2>
	</div>

	<%= form_with(model: [@post, @comment], url: post_comment_path(@comment), local: true) do |f| %>
		<%= f.text_area :post_comment, rows:'6',placeholder: 'コメント' %>
	    <%= f.submit '変更を保存', class: 'btn user_edit_btn' %>
	<% end %>
</div>