<div class="follow">
	<div class="col-md-4">
		<%= render 'public/users/profile', user: current_user %>
	</div>

	<div class="col-md-8">
		<div class="row">
			<h2 class="col-md-2">Followings</h2>
		</div>
		<div class="row">
			<%= render 'public/users/index', users: @users %>
		</div>
	</div>
</div>