<div class="top_category">
	<table class="top_category_table">
		<thead>
			<tr>
				<th class="text-center">カテゴリー</th>
			</tr>
		</thead>

		<tbody class="text-center">
			<% categories.each do |category| %>
			<tr>
				<td><%= category.name %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>