<div class="posts_index">
	<div class="col-md-2">
		<%= render 'public/users/profile', user: current_user %>
	</div>

	<div class="col-md-6">
		<div class="row">
			<h2 class="col-md-4 text-center">Timeline</h2>
		</div>

		<!-- 投稿一覧 -->
		<%= render 'public/posts/index', posts: @posts %>
	</div>

	<div class="col-md-3 timeline">
		<!-- おすすめの投稿 -->
		<%= render 'public/recommendations/recommendations', recommendations: @recommendations %>
	</div>
</div>