<div class="posts_index">
	<div class="col-md-2">
		<%= render 'public/users/profile', user: current_user %>
	</div>

	<div class="col-md-8">
		<div class="row">
			<h2 class="col-md-2">Timeline</h2>
			<!-- 投稿一覧 -->
			<%= render 'public/posts/index', posts: @posts %>
		</div>
	</div>
</div>